<!-- Modules Section -->
    <section id="modules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Value-Chain Engineering</h2>
                    <h3 class="section-subheading text-muted">We employ engineering methods for design that culminates in market-responsive products.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#708090"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science Powered Hacks</h4>
                    <p class="text-muted">Data-driven discovery, a fusion of data science and materials engineering.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b0000"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">First Principles Design</h4>
                    <p class="text-muted">Pushing the boundaries of what's possible in materials design and innovation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#008b8b"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Green Revolution Stakeholder</h4>
                    <p class="text-muted">The Green Revolution is forging the products, technologies, and solutions toward a more sustainable and eco-conscious future.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b8b00"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Market-ready Product</h4>
                    <p class="text-muted">Market-ready materials are the linchpin for innovation, providing the foundation for new products and technologies.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#ffa500"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Materials Innovation</h4>
                    <p class="text-muted">Engineering materials at the nanoscale level is opening new doors for innovation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color:#8b008b"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Resourcefulness</h4>
                    <p class="text-muted">As a beacon of ingenuity, the resourcefulness paradigm continually seeking solutions that not only conserve resources but also drive innovation and progress.</p>
                </div>
            </div>
        </div>
    </section>
